body{
    width: 200px;
    height: 200px;
    background-color: beige;
    display: flex;
    justify-content: center;
}
p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 20px;
    color: brown;
    border-radius: 1px solid rgb(230, 201, 173);
    padding: 10px;
}